
.reviewcard{
    border-radius: 25px;
    width: 45%;
    position: relative;
    padding: 25px 15px;
    background-color: #F2E2CE;
    margin: 50px;
    height: 225px;
    text-align: left;
  }
  .name{
    border-radius: 25px 25px 0px 0px;
    height: 100px;
    width: 100%;
    background-color: #C9BC99;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
  }
  .img {
    border-radius: 50%;
    border: 7px;
    border-style: solid;
    border-color: white;
    width: 120px;
    height: 120px;
    margin-left:10%;
    margin-top: 2%;
  }
  .stars{
    margin-left:5%;
    width: 6%;
    height: auto;
  }
  
  h1{
    margin-left: 10%;
  }
  .info{
    margin-top: 120px;
    margin-right: 10%;
    text-align: right;
  }
  
  a:link {
    color: rgb(43,42,42);
  }
  a:visited {
    color: white;
  }
  a:hover {
    color: white;
  }